.DS_Store
*.swp
.php_cs.cache
.history
.vscode/

/.idea
/src/.phpstorm.meta.php
/src/_ide_helper.php

/src/vendor/

/src/bootstrap/cache/*
!/src/bootstrap/cache/.gitkeep

/src/storage/tmp/*

/src/tests/results/*
/src/tests/coverage/*
!/src/tests/results/.gitkeep
